body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

ul,
li,
dl,
ol,
dd,
dt {
    list-style: none;
}

img {
    border: 0;
}

//重置mint-ui样式
.mint-msgbox-wrapper {
    .mint-msgbox {
        .mint-msgbox-header {
            .mint-msgbox-title {
                font-size: 30px;
                padding-top: 20px;
                margin-bottom: 10px;
            }
        }
        .mint-msgbox-content {
            font-size: 30px;
            padding: 40px 30px 70px;
            .mint-msgbox-input {
                input {
                    height: 75px;
                    font-size: 30px;
                }
            }
        }
        .mint-msgbox-btns {
            font-size: 40px;
            height: 90px;
            .mint-msgbox-btn {
                font-size: 30px;
                height: 90px;
                line-height: 90px;
            }
        }
    }
}

.mint-toast {
    .mint-toast-text {
        font-size: 30px;
    }
}

.picker-toolbar {
    height: 60px;
}

.mint-datetime-action {
    font-size: 30px;
    height: 60px;
    line-height: 60px;
}

.picker-item {
    font-size: 26px;
}

.mint-actionsheet-listitem {
    height: 80px;
    line-height: 80px;
    font-size: 30px;
}

.mint-msgbox-btn {
    height: 90px;
    line-height: 90px;
}

@import 'swiper/dist/css/swiper.min.css';
.swiper-container {
    width: 100%;
    height: 533px;
    img{
        width: 100%;
        height: 100%;
    }
} 