.content {
    margin: 16px;
    background: #fff;
    border-radius: 15px;
    padding: 5px 22px 0;

    .c1 {
      margin-top: 20px;
      position: relative;
      padding-bottom: 22px;
      display: flex;
      justify-content: flex-start;
      border-bottom: 1px solid #D9D9D9;

      .dw {
        width: 35px;
        height: 48px;
        padding-top: 20px;
      }

      .left {
        display: flex;
        flex-direction: column;
        width: 595px;
        padding-left: 33px;

        .top {
          margin-bottom: 20px;
        }

        .s1 {
          font-size: 32px;
          font-family: "SourceHanSansCN-Medium";
          font-weight: 500;
          color: #262626;
        }

        .phone {
          font-size: 30px;
          font-family: "SourceHanSansCN-Normal";
          font-weight: 400;
          color: #808080;
        }

        .addressTest {
          font-size: 25px;
          font-family: "SourceHanSansCN-Normal";
          font-weight: 400;
          color: #262626;
        }
      }

      .right {
        padding-top: 25px;

        img {
          width: 13px;
          height: 25px;

        }
      }


    }

    .c1:last-child {
      border-bottom: none;
    }
  }