div {
  overflow: hidden;

  .nav {
    height: 91px;
  }

  .navLeft {
    background: #fff;
    float: left;
    overflow-y: auto;

    li {
      position: relative;
      line-height: 88px;
      text-align: center;
      height: 88px;
      width: 185px;
      display: block;
      outline: none; //去除点击时显示蓝色外边框
      font-size: 30px;
      border: none;

      span {
        width: 5px;
        height: 27px;
        background-color: #DF0715;
        position: absolute;
        right: 14px;
        top: 32px;
      }
    }

    li::after {
      content: "";
      width: 113px;
      border-bottom: 1px solid #cccccc;
      position: absolute;
      left: 35px;
      bottom: 0;
      z-index: 1;
    }
  }

  .navRight {
    float: right;
    width: 564px;
    height: 1600px;
    background-color: #f7f7f7;
    border-top-left-radius: 15px;
    overflow-y: auto;

    .box {
      padding-top: 27px;
      background-color: #f7f7f7;
      width: 500px;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 10px;

      .title1 {
        font-size: 30px;
        font-family: 'PingFangSC-Regular';
        font-weight: 400;
        display: block;
        margin-bottom: 22px;
      }

      ul {
        padding-bottom: 30px;
        border-radius: 15px;
        overflow: hidden;
        margin-top: 0;
        background: #ffffff;

        li {
          float: left;
          width: 126px;
          height: 150px;
          margin: 20px;

          img {
            border-radius: 100px;
            width: 126px;
            height: 126px;
          }

          span {
            font-size: 21px;
            font-family: 'PingFangSC-Regular';
            font-weight: 400;
          }
        }
      }
    }
  }

  .bottom {
    height: 104px;
  }
}
