@import '@/assets/scss/commin.scss';

.mainCon {
  overflow: hidden;
}

.bannerShow {
  background-color: #E1212D;
  height: 108px;
  font-size: 35px;
  font-family: "PingFangSC-Regular";
  font-weight: 400;
  color: #fff;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;

  .blackup {
    position: absolute;
    top: 35px;
    left: 33px;
    z-index: 999;
  }

  .center_1 {
    position: absolute;
    top: 32px;
    left: 50%;
    transform: translate(-50%);
    display: inline-block;
  }

  img {
    position: absolute;
    top: 42px;
    right: 127px;
  }

  .leftS {
    position: absolute;
    top: 32px;
    right: 28px;
    font-size: 35px;
    display: inline-block;
  }
}

.clear {
  height: 106px;
}

.tips {
  overflow: hidden;
  padding-left: 10px;
  height: 80px;
  ul {
    margin-top: 10px;

    li {
      float: left;
      margin: 8px;
      padding: 11px 27px;
      border-radius: 23px;
    //   border: 1px solid #808080;
      font-size: 23px;
      font-family: SourceHanSansCN-Regular;
      font-weight: 400;
      background-color: #fff;
    }
  }
}


//评论区域
.app {
  margin: 25px 16px;
  padding: 23px 25px;
  background-color: #fff;
  border-radius: 15px;

  .evalua {
    display: flex;
    justify-content: flex-start;

    .evaRight {
      margin-right: 31px;

    }

    .evaLeft {
      display: flex;
      flex-direction: column;

      span {
        display: block;
        padding: 8px 0;
      }

      .s1 {
        font-size: 25px;
        font-family: SourceHanSansCN-Regular;
        font-weight: 400;
        color: #333333;
      }

      .s2 {
        font-size: 20px;
        font-family: SourceHanSansCN-Light;
        font-weight: 300;
        color: #666666;
        

      }

      .s3 {
        font-size: 27px;
        font-family: SourceHanSansCN-Normal;
        font-weight: 400;
        color: #333333;margin:8px 0;
      }
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    padding-left:121px;
    font-size: 20px;
    font-family: SourceHanSansCN-Light;
    font-weight: 300;
    color: #666666;
    .bottom_left{
        span{
            width: 35px;
            display: inline-block;
            padding-left: 20px;
        }
    }
  }
}

.arrow{
    position: absolute;
    right: 40px;
    top: 145px;
}

.arrow2{
    position: absolute;
    right: 40px;
    top: 218px;
}

.all{
    margin-bottom: 30px;
}

// 底部按钮
.page_btn{
    position: fixed;
    bottom: 0;   
    width: 100%;
    background: #fff; 
    border:1px solid rgba(220,220,220,1);
    
    ul.flexbox{
        margin-top: 15px;
        li{
            &.customerService{
                 margin-left: 75px;
             }
             &.collectionBtn{

             }
             .btn_text{
                 font-size:20px;
                 font-family:SourceHanSansCN-Light;
                 font-weight:300;
                 color:rgba(51,51,51,1);
             }

        }
    }
    .page_end_btn{
     //    padding: 14px 0;
     padding-bottom: 20px;
        span{
            background:#E1212D;
         //    background:rgba(255,182,82,1);
             border-radius:20px;
             font-size:33px;
             width:210px;
             height:68px;
             line-height: 68px;
             display: inline-block;
             text-align: center;
             vertical-align: middle;
             color:rgba(255,255,255,1);
             font-family:PingFangSC-Regular;
             font-weight:400;
        }
         .now_pay{
             margin-right: 12px;
             margin-left: 12px;
         }
         .cart_btn{
             
             background: #FF6D6D;
             background:transparent;
             &.cartBtnCover{
                    background: #FF6D6D;
                }
         }
    }
 }