.main {
  position: relative;

  .bannerShow {
    background-color: #E1212D;
    font-size: 35px;
    font-family: "PingFangSC-Regular";
    font-weight: 400;
    color: #fff;
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;

    .blackup {
      position: absolute;
      top: 35px;
      left: 33px;
      z-index: 999;
    }

    .center_1 {
      position: absolute;
      top: 32px;
      left: 50%;
      transform: translate(-50%);
      display: inline-block;
    }

    .right_text {
      position: absolute;
      top: 39px;
      right: 19px;
      font-size: 25px;
      font-family: SourceHanSansCN-Normal;
      font-weight: 400;
      color: #FFFFFF;
    }

    .garbage {
      position: absolute;
      top: 36px;
      right: 26px;
    }
  }
  .nav {
    padding: 0 17px;
    margin-top:92px;

    ul {
      overflow: hidden;
      margin-bottom: 15px;

      li {
        float: left;
        margin-left: 10px;
        padding: 22px 12px;
        font: 400 27px PingFangSC-Regular;
      }

      li:last-child {
        // margin-left: 16px;
        // margin-right: 10px;
      }
    }
  }

  //   message
  .content {
    padding: 3px 18px;
    width: 92%;
    // margin: 15px;
    background-color: #fff;
    border-radius: 15px;
    margin: 0 auto;

    .msBox {
      display: flex;
      justify-content: flex-start;
      padding-top: 15px;

      .msBox_left {
        position: relative;

        img {
          width: 100px;
          height: 100px;
          border-radius: 10px;
        }

        .number {
          position: absolute;
          top: -12px;
          left: 84px;
          background-color: #E1212D;
          color: #fff;
          width: 32px;
          height: 32px;
          border-radius: 15px;
          font-size: 20px;
          font-family: SourceHanSansCN-Normal;
          font-weight: 400;
          text-align: center;
        }
      }

      .msBox_right {
        margin-left: 15px;
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        width: 85%;
        padding-bottom: 16px;
        border-bottom: 1px solid #D9D9D9;

        .right_top {
          display: flex;
          justify-content: space-between;

          .top_text {
            font-size: 35px;
            font-family: SourceHanSansCN-Normal;
            font-weight: 400;
            padding-bottom: 15px;
            color: #262626;


          }

          .top_text2 {
            font-size: 20px;
            font-family: SourceHanSansCN-Light;
            font-weight: 300;
            color: #808080;
          }

        }

        span {
          font-size: 25px;
          font-family: SourceHanSansCN-Light;
          font-weight: 300;
          color: #808080;
        }

      }
    }



  }
}
