.main {
  position: relative;

  .bannerShow {
    background-color: #E1212D;
    height: 108px;

    .blackup {
      position: absolute;
      top: 35px;
      left: 33px;
      z-index: 999;
    }

    span {
      position: absolute;
      top: 32px;
      left: 50%;
      transform: translate(-50%);
      display: inline-block;
      font-size: 35px;
      font-family: "PingFangSC-Regular";
      font-weight: 400;
      color: #fff;
    }
  }

  .content {
    padding: 22px 16px;

    .oneCard {
      position: relative;
      margin-bottom: 13px;

      .card {
        width: 100%;
        margin: 0 auto;
      }

      .cardText {
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 0px;

        .left {
          display: flex;
          justify-content: space-between;
          font-family: PingFangSC-Regular;

          .s0 {
            display: block;
            color: #E1212D;
            font-size: 60px;
            margin: 55px 0;
            font-weight: 400;
            width: 200px;
            padding-left: 20px;

            .s0_1 {
              font-size: 25px;
              margin-right: 16px;
              font-weight: 400;
              color: #E1212D;
              display: inline-block;
              position: relative;
              /* margin-bottom: -23px; */
              top: -12px;
            }
          }
        }

        .left_r {
          display: flex;
          flex-direction: column;
          font-family: SourceHanSansCN-Medium;
          margin-top: 30px;
          width: 342px;

          .s1 {
            font-size: 32px;
            font-weight: 500;
            color: #E16921;
          }

          .s2 {
            font-size: 30px;
            font-weight: 400;
            color: #E16921;
            padding: 8px 0px;
          }

          .s3 {
            font-size: 25px;
            font-weight: 400;
            color: #808080;
          }
        }

        .line {
          border-right: 2px dotted #E1212D;
          width: 10px;
          height: 149px;
          position: absolute;
          right: 125px;
          top: 19px;

        }

        .right {
          font-size: 25px;
          font-family: PingFangSC-Regular;
          font-weight: 400;
          color: #E1212D;
          line-height: 100px;
          padding: 44px 0 0 36px;
        }
      }
    }
  }

  .bottom {
    width: 200px;
    padding-top: 15px;
    margin: 0 auto;
    text-align: center;
    color: #808080;
    font-size: 25px;
    font-family: SourceHanSansCN-Normal;
    font-weight: 400;
  }

}
